* {
  margin: 0;
  padding: 0;
}

#logo {

  height: 72px;
  width: 99px;
  display: inline;
  float: left;
  position: relative;
  top: 5px;

}

.container {

  width: 100%;
  height: 100%;
  position: relative;
}

.navbar {

  background-color: #FFDE00;
  height: 62px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 20;



}

.items-l {



  font-size: 20px;
  color: #886B6B;
  font-family: Lucida Grande, sans-serif;
  float: left;
  position: relative;




}

.wrapper {


  position: relative;
  bottom: 5px;

}

.items-r {
  font-size: 20px;
  color: #886B6B;
  font-family: Lucida Grande, sans-serif;
  float: right;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 0;
}

a {
  text-decoration: none;
  color: #886B6B;
}

.item {

  display: inline-block;
  padding: 5px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 5px;

}

.item:hover {

  font-weight: bold;
}



.strich {

  display: inline-block;
  height: 45px;
  width: 3px;
  background-color: #886B6B;
  position: relative;
  top: 12px;
  margin-left: 10px;

}

#picture {

  position: relative;
  left: 0;
  right: 0;
  top: 60px;

  bottom: 10px;
  width: 100%;
  height: 100%;






}

#picture > img {
  width: 100%;
  height: 100%;






}

#share-buttons {

  width: 150px;
  margin:  auto;
  height: 120px;

  position: relative;
  top: 7px;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

.content {

  text-align: center;

  clear: both;
  color: black;
  position: relative;
  font-family: Lucida Grande, sans-serif;
  background-color: #FF9900;
  bottom: 14px;
  padding: 15px 10px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);

}

.content > h1 {

  font-size: 50px;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.content > h2 {

  font-family: cursive;
  padding: 10px;
  margin: 10px;
}

.footer {

  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFDE00;
}

.footer-l {

  float: left;
  display: inline;
  margin-left: 5px;
}

.footer-r {
  float: right;
  display: inline;
  margin-right: 5px;
}
